In [1]:
from pycaret.regression import *
import pandas as py
import numpy as np
df = py.read_csv(r'D:\ML\BTP\preprocessing\bowlerOppositionWiseData.csv')
# df.drop('match_id',axis=1)
# exp = setup(data=df, target='dream 11 score')
# # best_models = compare_models()
# m=create_model('catboost')
# tuned_lr = tune_model(m)
# evaluate_model(tuned_lr)

In [2]:
df

,bowler,batting_team,Runs_Conceded,Wickets_Taken,balls_bowled,Matches_Played,five_wickets_haul,three_wickets_haul,four_wickets_haul,maidens,avg_drm11_score,Economy,strike_rate
0,A Ashish Reddy,Chennai Super Kings,48,3,30,3,0,0,0,0,25.666667,9.600000,10.000000
1,A Ashish Reddy,Delhi Daredevils,43,1,25,2,0,0,0,0,9.500000,10.320000,25.000000
2,A Ashish Reddy,Kings XI Punjab,36,2,25,1,0,0,0,0,66.000000,8.640000,12.500000
3,A Ashish Reddy,Kolkata Knight Riders,29,2,24,2,0,0,0,0,33.000000,7.250000,12.000000
4,A Ashish Reddy,Mumbai Indians,10,1,14,1,0,0,0,0,31.000000,4.285714,14.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3406,Z Khan,Rajasthan Royals,204,7,200,8,0,1,0,4,29.875000,6.120000,28.571429
3407,Z Khan,Rising Pune Supergiant,43,5,44,2,0,1,0,0,68.500000,5.863636,8.800000
3408,Z Khan,Rising Pune Supergiants,17,0,20,1,0,0,0,0,0.000000,5.100000,21.000000
3409,Z Khan,Royal Challengers Bangalore,247,13,211,10,0,1,0,1,37.500000,7.023697,16.230769
3410,Z Khan,Sunrisers Hyderabad,120,3,98,4,0,0,0,0,18.750000,7.346939,32.666667

In [3]:
exp = setup(data=df, target='avg_drm11_score')

In [4]:
best_models = compare_models()

In [5]:
m=create_model('catboost')

In [6]:
tuned_lr = tune_model(m)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [7]:
evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦