In [1]:
from pycaret.regression import *
import pandas as py
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import scipy.stats as stats
df = py.read_csv(r'D:\ML\BTP\model\final_batsmen.csv')
df.drop('match_id', axis=1)
le = LabelEncoder()
# cat = le.fit(df["striker"])
# types = cat.classes_
# cat.transform(types)
# YT_india["enc"] = cat.transform(YT_india["category"])

df['striker'] = le.fit_transform(df['striker'])
df['venue'] = le.fit_transform(df['venue'])
df['bowling_team'] = le.fit_transform(df['bowling_team'])
# exp = setup(data=df, target='dream 11 score')
# best_models = compare_models()
# py.set_option('display.max_columns', None)

In [2]:
df

,match_id,striker,venue,bowling_team,dream 11 score,Avg_balls_faced,Matches_Played,Strike_Rate,Average,avg_drm11_score,...,venueWise_Matches_Played,venueWise_Strike_Rate,venueWise_Average,venueWise_dr11,Venue_Matches_Played,Venue_Avg_Batsmen_Strike_Rate,Venue_Avg_Batsmen_Average,Venue_Avg_Bowler_Economy,Venue_Avg_Bowler_Average,Venue_dream11
0,335982,22,16,8,4.0,12.000000,1,75.000000,9.000000,4.000000,...,1,75.000000,9.000000,4.000000,87,132.025235,26.367063,7.921514,26.367063,325.482759
1,335982,83,16,8,-2.0,5.181818,11,110.685426,6.909091,3.545455,...,4,83.333333,2.500000,-2.250000,87,132.025235,26.367063,7.921514,26.367063,325.482759
2,335982,95,16,16,222.0,20.844037,109,110.461478,26.440367,29.513761,...,11,146.818182,29.363636,34.090909,87,132.025235,26.367063,7.921514,26.367063,325.482759
3,335982,124,16,8,0.0,17.200000,45,105.218730,21.577778,22.377778,...,7,147.422680,20.428571,22.714286,87,132.025235,26.367063,7.921514,26.367063,325.482759
4,335982,148,16,16,7.0,18.049180,61,105.160362,21.672131,22.131148,...,2,139.024390,28.500000,30.000000,87,132.025235,26.367063,7.921514,26.367063,325.482759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15395,1370353,451,19,5,25.0,26.588235,51,108.467205,35.235294,40.862745,...,2,178.787879,59.000000,75.500000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15396,1370353,480,19,0,-2.0,5.600000,50,113.208574,8.860000,8.020000,...,7,161.538462,3.000000,0.428571,28,130.626209,26.059347,7.837573,26.059347,326.928571
15397,1370353,489,19,5,34.0,17.404255,47,118.809907,23.531915,25.021277,...,2,130.769231,25.500000,24.500000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15398,1370353,561,19,0,50.0,24.563218,87,117.191445,32.068966,36.425287,...,12,155.581395,55.750000,70.750000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15399,1370353,617,19,0,67.0,16.776119,134,113.149607,20.880597,21.358209,...,12,129.545455,19.000000,20.250000,28,130.626209,26.059347,7.837573,26.059347,326.928571

In [3]:
 py.set_option('display.max_columns', None)

In [4]:
df

,match_id,striker,venue,bowling_team,dream 11 score,Avg_balls_faced,Matches_Played,Strike_Rate,Average,avg_drm11_score,opposition_wise_Matches_Played,opposition_wiseStrike_Rate,opposition_wiseAverage,opposition_wise_dr11,venueWise_Matches_Played,venueWise_Strike_Rate,venueWise_Average,venueWise_dr11,Venue_Matches_Played,Venue_Avg_Batsmen_Strike_Rate,Venue_Avg_Batsmen_Average,Venue_Avg_Bowler_Economy,Venue_Avg_Bowler_Average,Venue_dream11
0,335982,22,16,8,4.0,12.000000,1,75.000000,9.000000,4.000000,1,75.000000,9.000000,4.000000,1,75.000000,9.000000,4.000000,87,132.025235,26.367063,7.921514,26.367063,325.482759
1,335982,83,16,8,-2.0,5.181818,11,110.685426,6.909091,3.545455,1,0.000000,0.000000,-2.000000,4,83.333333,2.500000,-2.250000,87,132.025235,26.367063,7.921514,26.367063,325.482759
2,335982,95,16,16,222.0,20.844037,109,110.461478,26.440367,29.513761,15,143.324937,37.933333,44.800000,11,146.818182,29.363636,34.090909,87,132.025235,26.367063,7.921514,26.367063,325.482759
3,335982,124,16,8,0.0,17.200000,45,105.218730,21.577778,22.377778,6,114.457831,15.833333,14.166667,7,147.422680,20.428571,22.714286,87,132.025235,26.367063,7.921514,26.367063,325.482759
4,335982,148,16,16,7.0,18.049180,61,105.160362,21.672131,22.131148,8,125.766871,25.625000,26.500000,2,139.024390,28.500000,30.000000,87,132.025235,26.367063,7.921514,26.367063,325.482759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15395,1370353,451,19,5,25.0,26.588235,51,108.467205,35.235294,40.862745,5,146.153846,60.800000,77.000000,2,178.787879,59.000000,75.500000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15396,1370353,480,19,0,-2.0,5.600000,50,113.208574,8.860000,8.020000,7,180.281690,18.285714,20.571429,7,161.538462,3.000000,0.428571,28,130.626209,26.059347,7.837573,26.059347,326.928571
15397,1370353,489,19,5,34.0,17.404255,47,118.809907,23.531915,25.021277,5,116.393443,14.200000,11.400000,2,130.769231,25.500000,24.500000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15398,1370353,561,19,0,50.0,24.563218,87,117.191445,32.068966,36.425287,13,127.819549,26.153846,29.461538,12,155.581395,55.750000,70.750000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15399,1370353,617,19,0,67.0,16.776119,134,113.149607,20.880597,21.358209,15,119.031142,22.933333,22.666667,12,129.545455,19.000000,20.250000,28,130.626209,26.059347,7.837573,26.059347,326.928571

In [5]:
df.drop('match_id', axis=1)

,striker,venue,bowling_team,dream 11 score,Avg_balls_faced,Matches_Played,Strike_Rate,Average,avg_drm11_score,opposition_wise_Matches_Played,opposition_wiseStrike_Rate,opposition_wiseAverage,opposition_wise_dr11,venueWise_Matches_Played,venueWise_Strike_Rate,venueWise_Average,venueWise_dr11,Venue_Matches_Played,Venue_Avg_Batsmen_Strike_Rate,Venue_Avg_Batsmen_Average,Venue_Avg_Bowler_Economy,Venue_Avg_Bowler_Average,Venue_dream11
0,22,16,8,4.0,12.000000,1,75.000000,9.000000,4.000000,1,75.000000,9.000000,4.000000,1,75.000000,9.000000,4.000000,87,132.025235,26.367063,7.921514,26.367063,325.482759
1,83,16,8,-2.0,5.181818,11,110.685426,6.909091,3.545455,1,0.000000,0.000000,-2.000000,4,83.333333,2.500000,-2.250000,87,132.025235,26.367063,7.921514,26.367063,325.482759
2,95,16,16,222.0,20.844037,109,110.461478,26.440367,29.513761,15,143.324937,37.933333,44.800000,11,146.818182,29.363636,34.090909,87,132.025235,26.367063,7.921514,26.367063,325.482759
3,124,16,8,0.0,17.200000,45,105.218730,21.577778,22.377778,6,114.457831,15.833333,14.166667,7,147.422680,20.428571,22.714286,87,132.025235,26.367063,7.921514,26.367063,325.482759
4,148,16,16,7.0,18.049180,61,105.160362,21.672131,22.131148,8,125.766871,25.625000,26.500000,2,139.024390,28.500000,30.000000,87,132.025235,26.367063,7.921514,26.367063,325.482759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15395,451,19,5,25.0,26.588235,51,108.467205,35.235294,40.862745,5,146.153846,60.800000,77.000000,2,178.787879,59.000000,75.500000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15396,480,19,0,-2.0,5.600000,50,113.208574,8.860000,8.020000,7,180.281690,18.285714,20.571429,7,161.538462,3.000000,0.428571,28,130.626209,26.059347,7.837573,26.059347,326.928571
15397,489,19,5,34.0,17.404255,47,118.809907,23.531915,25.021277,5,116.393443,14.200000,11.400000,2,130.769231,25.500000,24.500000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15398,561,19,0,50.0,24.563218,87,117.191445,32.068966,36.425287,13,127.819549,26.153846,29.461538,12,155.581395,55.750000,70.750000,28,130.626209,26.059347,7.837573,26.059347,326.928571
15399,617,19,0,67.0,16.776119,134,113.149607,20.880597,21.358209,15,119.031142,22.933333,22.666667,12,129.545455,19.000000,20.250000,28,130.626209,26.059347,7.837573,26.059347,326.928571

In [6]:
exp = setup(data=df, target='dream 11 score')

In [7]:
best_models = compare_models()

In [10]:
table=pull()

In [11]:
table

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
lasso,Lasso Regression,15.0439,486.6412,22.0341,0.4318,1.0602,2.5576,0.033
llar,Lasso Least Angle Regression,15.0439,486.6412,22.0341,0.4318,1.0602,2.5576,0.024
en,Elastic Net,15.0511,486.9709,22.0415,0.4315,1.0603,2.5574,0.060
br,Bayesian Ridge,15.0678,487.3567,22.0502,0.4310,1.0621,2.5585,0.028
ridge,Ridge Regression,15.0727,487.4528,22.0527,0.4309,1.0617,2.5599,0.024
lr,Linear Regression,15.0763,487.5882,22.0556,0.4307,1.0622,2.5604,0.690
gbr,Gradient Boosting Regressor,14.6991,493.0536,22.1802,0.4243,1.0233,2.3773,1.239
lightgbm,Light Gradient Boosting Machine,15.0499,533.6157,23.0806,0.3765,1.0291,2.3660,0.159
catboost,CatBoost Regressor,15.2320,543.7169,23.2986,0.3647,1.0458,2.4009,3.903
ada,AdaBoost Regressor,17.2147,581.9173,24.1048,0.3197,1.1776,3.4007,0.249
rf,Random Forest Regressor,16.0532,618.8852,24.8545,0.2767,1.0949,2.5810,4.927
knn,K Neighbors Regressor,18.3917,686.9593,26.1904,0.1966,1.2091,3.0055,0.062
huber,Huber Regressor,17.5716,709.6827,26.5845,0.1716,1.1046,2.3103,0.117
et,Extra Trees Regressor,17.5342,778.7224,27.8884,0.0889,1.1919,2.7274,1.694
omp,Orthogonal Matching Pursuit,21.2452,812.6241,28.4933,0.0496,1.3161,3.8944,0.024
dummy,Dummy Regressor,22.0547,855.8286,29.2397,-0.0007,1.3675,4.1287,0.021
dt,Decision Tree Regressor,21.4120,1123.2791,33.4963,-0.3175,1.3705,3.0414,0.090
par,Passive Aggressive Regressor,21.7422,1189.0191,34.3988,-0.3926,1.7163,1.4118,0.030
lar,Least Angle Regression,72.4896,20392.2428,99.4604,-23.2105,1.8592,15.0159,0.025

In [13]:
type(table)

pandas.core.frame.DataFrame

In [15]:
import dataframe_image as dfi
dfi.export(table,"mytable.png",table_conversion="matplotlib")

In [16]:
m=create_model('catboost')

In [17]:
tuned_lr = tune_model(m)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [18]:
tuned_table=pull()

In [19]:
tuned_table

          MAE       MSE     RMSE      R2   RMSLE    MAPE
Fold
0     16.0437  582.1406  24.1276  0.3819  1.0618  2.6536
1     14.4395  472.3561  21.7338  0.4080  1.0240  2.4489
2     14.0523  471.9725  21.7249  0.4428  1.0215  2.2347
3     14.1975  484.6365  22.0145  0.4345  0.9927  2.3734
4     14.4465  460.3085  21.4548  0.4288  1.0351  2.5319
5     15.9538  589.1118  24.2716  0.3911  1.0639  2.5985
6     14.4913  460.6587  21.4630  0.4679  1.0354  2.3157
7     14.0768  450.2793  21.2198  0.4523  1.0234  2.1730
8     14.2829  450.8699  21.2337  0.4364  0.9760  2.0905
9     14.5612  474.6651  21.7868  0.4398  1.0065  2.3565
Mean  14.6545  489.6999  22.1030  0.4283  1.0240  2.3777
Std    0.6918   49.0548   1.0749  0.0256  0.0262  0.1740

In [20]:
dfi.export(tuned_table,"tuned_table.png",table_conversion="matplotlib")